.easiest-bid-section {
  .container {
    max-width: 100% !important;
  }
  .slider-wrapper {
    max-height: 500px;
    width: auto;
  }
  .carousel-container {
    position: relative;
    text-align: center;
    color: white;
  }
  .top-left {
    top: 8px;
    left: 16px;
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(151, 159, 171, 0.9); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    padding: 20px; /* Some padding */
  }
  h1 {
    color: white !important;
  }
  .mb {
    margin-bottom: 1rem;
  }
}
