.current-projects-container {
  padding: 20px;
  .demo-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 500px;
  }
  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }
  .icons {
    font-size: 25px !important;
    color: #8a8a8a;
  }
  .label {
    font-weight: bold;
    vertical-align: bottom;
  }
  .value {
    vertical-align: bottom;
  }
  .custom-button {
    background-color: transparent;
    cursor: pointer;
  }
  .heading {
    font-weight: bolder;
    font-size: xx-large;
    color: #414141;
  }
}
